<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>User1</display-name>
  <servlet>
  	<servlet-name>sync</servlet-name>
  	<servlet-class>operator.Addition</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sync</servlet-name>
  	<url-pattern>/calc</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>syncSquare</servlet-name>
  	<servlet-class>operator.Squaring</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>syncSquare</servlet-name>
  	<url-pattern>/Sq</url-pattern>
  </servlet-mapping>
</web-app>